.App {
    text-align: center;
    height: 100%;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-link {
    color: #61dafb;
}
.ant-layout {
    height: 100%;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}


.form-select {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px;
}
.form-select > div:first-of-type {
    background: rgba(196, 196, 196, 0.09);
    border-radius: 45px;
    border: none;
    height: 45px;
    width: 100%;
}
.form-select > div:first-of-type:hover {
    border: none;
    box-shadow: none;
}
.form-select > div:first-of-type::selection {
    border: none !important;
    box-shadow: none !important;
}
.form-select > div:nth-child(3) {
    width: 50%;
    background-color: #252525;
    border-radius: 23px;
    color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    z-index: 1000;
    margin-top: -45px;
}
.form-select > div:first-of-type > div:first-of-type {
    padding-left: 18px;
}
.form-select > div div div {
    color: #fff;
}