.settings-button-modal {
  display: flex;
  cursor: pointer;
}
.settings-button-modal img {
  width: 40px;
  height: 40px;
}
.settings-button-modal div p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #ffffff;
  margin: 0px 0px 0px 10px;
}
.settings-button-modal div {
  display: flex;
  align-items: center;
}
.ant-drawer-close {
  width: 70px;
  height: 70px;
}
.ant-drawer-header {
  padding: 16px 35px;
}
