.hidden {
  display:none;
}
.show-more-wrapper {
  margin-top: 15px;
}
.form-show-more {
  color: #fff;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #ffffff;
  width: 80px;
}
.form-titles {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.form-select {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0px;
}
.form-select > div:first-of-type {
  background: rgba(196, 196, 196, 0.09);
  border-radius: 45px;
  border: none;
  height: 45px;
  width: 100%;
}
.form-select > div:first-of-type:hover {
  border: none;
  box-shadow: none;
}
.form-select > div:first-of-type::selection {
  border: none !important;
  box-shadow: none !important;
}
.form-select > div:nth-child(3) {
  width: 50%;
  background-color: #252525;
  border-radius: 23px;
  color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  z-index: 1000;
  margin-top: -45px;
}
.form-select > div div div {
  color: #fff;
}
.ant-radio-button-wrapper {
  background: #121212 !important;
  border-radius: 45px !important;
  color: #fff !important;
  position: static;
  border: none;
  border-left: none !important;
  width: 130px !important;
  height: 35px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ant-radio-button-wrapper:hover {
  position: static;
  border: none;
}
.ant-radio-button-wrapper-checked {
  background: #252525 !important;
  border: 2px solid #ffffff !important;
  box-sizing: border-box !important;
  border-radius: 45px !important;
  color: #ffffff !important;
  box-shadow: none !important;
}
.form-server-block-radio {
  margin: 15px 0px;
}
.ant-radio-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-button {
  background: #ffffff;
  border-radius: 45px;
  width: 100%;
  height: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border: none;
  cursor: pointer;
  margin: 15px 0px;
}
.form-button:focus {
  outline: none;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #252525;
  border-color: #fff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.ant-checkbox-inner {
  background-color: #252525;
  border-color: #fff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.ant-checkbox-inner:hover {
  border: 1px solid #ffffff;
}
.ant-checkbox-checked::after {
  border: 1px solid #fff;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #fff;
}
.form-show-more-connection-log {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #ffffff;
  margin: 10px 0px;
}
