#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.ant-drawer-header {
  border-bottom: none !important;
}
.ant-drawer-close {
  color: #fff;
  width: 70px;
  height: 70px;
}
.ant-drawer-close:hover {
  color: grey;
}

.connection-details-wrapper .ant-radio-group {
  margin: 14px 0px;
}
.connection-details-wrapper .ant-radio-group .ant-radio-button-wrapper {
  width: 130px !important;
  height: 35px !important;
  background: #121212 !important;
  border-radius: 45px !important;
}

.ant-radio-group {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
}
.ant-radio-button-wrapper {
  background: #121212 !important;
  border-radius: 45px !important;
  color: #fff !important;
  position: static;
  border: none !important;
  border-left: none !important;
  width: 130px !important;
  height: 35px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ant-radio-button-wrapper:hover {
  position: static;
  border: none;
}
.ant-radio-button-wrapper:not(:first-child)::before {
  content: none !important;
}
.ant-radio-button-wrapper-checked {
  background: #252525 !important;
  border: 2px solid #ffffff !important;
  box-sizing: border-box !important;
  border-radius: 45px !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.settings-button-modal {
  display: flex;
  cursor: pointer;
}
.settings-button-modal img {
  width: 40px;
  height: 40px;
}
.settings-button-modal div p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #ffffff;
  margin: 0px 0px 0px 10px;
}
.settings-button-modal div {
  display: flex;
  align-items: center;
}