#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.ant-drawer-header {
  border-bottom: none !important;
}
.ant-drawer-close {
  color: #fff;
  width: 70px;
  height: 70px;
}
.ant-drawer-close:hover {
  color: grey;
}

.settings-button-modal {
  display: flex;
  cursor: pointer;
}
.settings-button-modal img {
  width: 40px;
  height: 40px;
}
.settings-button-modal div p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #ffffff;
  margin: 0px 0px 0px 10px;
}
.settings-button-modal div {
  display: flex;
  align-items: center;
}