.connection-details-wrapper .ant-radio-group {
  margin: 14px 0px;
}
.connection-details-wrapper .ant-radio-group .ant-radio-button-wrapper {
  width: 130px !important;
  height: 35px !important;
  background: #121212 !important;
  border-radius: 45px !important;
}
