.form-profile-block {
    margin: 15px 0px;
}
.form-profile-block-inline {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
}
.form-profile-block-inline input {
    background: rgba(196, 196, 196, 0.09);
    border-radius: 45px;
    height: 45px;
    margin: 15px 0px 0px;
    border: none;
    color: #fff;
    padding: 0px 20px;
}
.form-profile-block-inline .form-titles {
    margin: 15px 0px 0px;
}
.form-profile-block-inline input::placeholder {
    color: #fff;
}
.form-profile-block-inline input:focus {
    outline: none;
}

.show-more-wrapper {
    margin-top: 15px;
}
.form-show-more {
    color: #fff;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #ffffff;
    width: 80px;
}