.settings-button {
  display: flex;
  cursor: pointer;
}
.settings-button img {
  width: 40px;
  height: 40px;
}
.settings-button div p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #ffffff;
  margin-left: 10px;
}
